.p-d-paradify-dialog-in-youtube {
  right: 13px !important;
  position: fixed !important;
  top: 13px !important;
  z-index: 999999 !important;
}

.p-d-paradify-dialog-in-youtube-inner {
  width: 250px;
  background-color: #131313;
  color: #cacaca;
  box-shadow: 2px 2px 2px 1px rgb(152 148 148 / 20%);
  border-radius: 7px;
  padding: 5px;
}

.p-d-paradify-dialog-in-youtube-show {
  opacity: 1;
  /* -webkit-transition: opacity 1s ease-in;
  display: ; */
}
.p-d-paradify-dialog-in-youtube-hide {
  opacity: 0;
  /* -webkit-transition: opacity 1s ease-out;
  display: ; */
}

.p-d-arrow {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  margin: 0 10px;
}

.p-d-flex {
  display: flex;
}
.p-d-justify-between {
  justify-content: space-between;
}

.p-d-items-center {
  align-items: center;
}

.p-d-items-baseline {
  align-items: baseline;
}

.p-d-ml-5 {
  margin-left: 12.5px;
}

.p-d-my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-d-mt-5 {
  margin-top: 5px;
}

.p-d-mb-5 {
  margin-top: 5px;
}

.p-d-mt-10 {
  margin-top: 10px;
}

.p-d-ml-4 {
  margin-left: 10px;
}

.p-d-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.p-d-px-4 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-d-py-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-d-py-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-d-w200 {
  width: 200px;
}

.p-d-text-center {
  text-align: center;
}

.p-d-text-base {
  font-size: 10px;
}

.p-d-text-lg {
  font-size: 11.25px;
}

.p-d-text-xl {
  font-size: 12.5px;
}

.p-d-text-2xl {
  font-size: 14px;
}

.p-d-text-3xl {
  font-size: 18.75px;
}

.p-d-text-4xl {
  font-size: 22.5px;
}

.p-d-text-5xl {
  font-size: 30px;
}

.p-d-text-6xl {
  font-size: 40px;
}

.p-d-link {
  color: #cacaca;
  text-decoration: underline;
}

.p-d-btn-close {
  background-color: transparent;
  border: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.p-d-w-full {
  width: 100%;
}

.p-d-line-h-22px {
  line-height: 22px;
}
