body,
html {
  margin: 0;
  padding: 0px;
  max-height: 500px;
  width: 500px;
  background-color: #181818;
  color: white;
}

.gree-add-button {
  background-color: #037d03;
}

.arrow {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  margin: 0 10px;
}
