.paradify-container-in-youtube {
  display: none;
}
.paradify-container-in-youtube-absolute {
  width: 52px;
  height: 52px;
  opacity: 1;
  right: 13px !important;
  position: fixed !important;
  bottom: 50px !important;
  margin: 5px;
  background-color: transparent;
  display: ;
  z-index: 999999;
}

.paradify-container-in-youtube-absolute button {
  width: 100%;
  height: 100%;
}

.paradify-container-in-youtube-absolute:hover {
  transform: scale(1.1);
}

.div-spotify-icon {
  position: relative;
  height: 100%;
  top: 0px;
  bottom: 0px;
  display: block;
  margin: auto;
  width: 100%;
}

.img-spotify-icon {
  position: absolute;
  top: 23%;
  left: 23%;
  width: 60%;
  height: 60%;
}

.spotify-button-in-yt-player {
  padding: '0';
  border: 'none';
  background-color: 'transparent';
  cursor: 'pointer';
}
